* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Shared colors */
  --color-success: #00cc99;
  --color-error: #ff4d4d;

  /* Default to Ice Mode (Light Theme) */
  --bg-color: #e6f7ff;
  /* Ice background */
  --card-bg: #ffffff;
  /* White cards */
  --accent-primary: #008b8b;
  /* Dark Turquoise Header */
  --accent-secondary: #9370db;
  /* Purple Accent */
  --text-primary: #003366;
  /* Deep blue for main text */
  --text-secondary: #9370db;
  /* Purple for secondary text */

  /* Keyboard Colors - Ice Mode */
  --key-bg: #d4f1ff;
  /* default key background */
  --key-text: #003366;
  /* default key text */
  --key-correct: #00cc99;
  /* correct letter */
  --key-wrong: #ff4d4d;
  /* incorrect letter */
  --key-guessed: #99ccff;
  /* guessed but not correct */

  --new-game-bg: #008b8b;
  /* dark turquoise button */
  --new-game-hover: #006666;
  /* darker turquoise on hover */
  --new-game-text: #ffffff;
  /* white text */

  /* Light (Ice Mode) */
  --toggle-bg: #8416ef;
  --toggle-hover: #11e7db;

  --box-shadow-light: 0 4px 12px rgba(0, 0, 0, 0.1);

  --chip-bg: #5DDCFF;
  --chip-text: #1E1E1E;

}

body.winter-mode {
  --bg-color: #0a0f1c;
  /* Deep navy background */
  --card-bg: #1f2a44;
  /* Dark blue cards */
  --accent-primary: #008b8b;
  /* Dark turquoise */
  --accent-secondary: #9370db;
  /* Purple accent */
  --text-primary: #e0f7fa;
  /* Very light blue text */
  --text-secondary: #9370db;
  /* Purple secondary text */

  /* Keyboard Colors - Winter Mode */
  --key-bg: #1e2b40;
  /* default key background */
  --key-text: #e0f7fa;
  /* key text color */
  --key-correct: #00cc99;
  /* correct letter */
  --key-wrong: #ff4d4d;
  /* incorrect letter */
  --key-guessed: #5d779a;
  /* muted steel blue for guessed */

  --new-game-bg: #008b8b;
  /* dark turquoise button */
  --new-game-hover: #006666;
  /* deeper turquoise on hover */
  --new-game-text: #e0f7fa;
  /* frosty light text */

  --toggle-bg: #4ef1f1;
  --toggle-hover: #006666;

  --box-shadow-dark: 0 4px 12px rgba(0, 0, 0, 0.6);

  --chip-bg: #4ef1f1;
  /* --chip-text: #E0F7FA;  */

}


html,
body,
#root {
  height: 100%;
  width: 100%;
  position: relative;
}


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--card-bg);
  color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

#tsparticles {
  z-index: -1;
  pointer-events: none;
}

nav {
  background-color: var(--accent-primary);
  color: var(--new-game-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 1rem;
}

.winter-mode nav {
  background-color: #1b1f3a;
  color: white;
}


.nav {
  display: flex;
  gap: 10px;
}

nav ul {
  list-style: none;
}

nav a {
  color: var(--new-game-text);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--toggle-hover);
}

.logo {
  height: 50px;
  width: 50px;
}

body.winter-mode .logo {
  content: url('./assets/img/snowflake-dark.png');
}

.enter-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enterBtn {
  margin-top: 1rem;
  background-color: var(--new-game-bg);
  color: var(--new-game-text);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enterBtn:hover {
  background-color: var(--new-game-hover);
}

.enter-title {
  padding-top: 3rem;

}

h1 {
  padding: 1rem;
}

.themeToggle {
  background-color: var(--toggle-bg);
  color: var(--card-bg);
  font-family: inherit;
  border: none;
  padding: .5rem .8rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.themeToggle:hover {
  background-color: var(--toggle-hover);
  color: var(--key-text)
}

.status {
  height: 100px;
}

.statusDiv.won {
  background-color: var(--color-success);
  color: var(--card-bg);
  width: 50%;
  margin: 1rem auto;
  padding: .8rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
}

.statusDiv.lost {
  background-color: var(--color-error);
  color: var(--card-bg);
  width: 50%;
  margin: 1rem auto;
  padding: .8rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
}

.statusDiv.farewell {
  background-color: var(--card-bg);
  color: var(--text-primary);
  width: 75%;
  margin: 1rem auto;
  padding: .8rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
}

.chips-container {
  display: flex;
  justify-content: center;
}

.character-chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 375px;
}

span.chip {
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
  margin: 0 .8rem .5rem 0;
  padding: .4rem .8rem;
  border-radius: .5rem;
  border: 2px solid var(--accent-primary);
  background-color: var(--chip-bg);
  color: var(--chip-text);
}

.chip:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.chip {
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

span.chip.lost::before {
  content: "❄️";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.word-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2px
}

.letterEl {
  background-color: var(--bg-color);
  padding: 1rem;
  border-bottom: 2px solid var(--text-primary);
}

.missed-letter {
  color: var(--color-error)
}

.keyboard>button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.keyboard {
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 375px;
  gap: .3rem;
}

.keyboardBtn {
  padding: .4rem;
  height: 35px;
  width: 35px;
  cursor: pointer;
  border: 1px solid var(--accent-primary);
  background-color: var(--key-bg);
  font-family: inherit;
  border-radius: .5rem;
  color: var(--key-text)
}

.keyboardBtn.correct {
  background-color: var(--key-correct);
}

.keyboardBtn.wrong {
  background-color: var(--key-wrong);
}

.keyboardBtn.guessed {
  background-color: var(--key-guessed);
}

.newGameBtn {
  margin-top: 1rem;
  background-color: var(--new-game-bg);
  color: var(--new-game-text);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newGameBtn:hover {
  background-color: var(--new-game-hover);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.rules {
  border: 2px solid var(--accent-secondary);
  border-radius: 1rem;
  background-color: var(--card-bg);
  width: 70%;
  padding: 2rem 1rem;
  box-shadow: var(--box-shadow-light);
  text-align: left;
  margin-top: 1rem
}

.rules li {
  list-style: none;
  padding-bottom: .5rem;
  font-weight: 500;
}

.rules span {
  font-size: 1.5rem;
  font-weight: bold;
}